/*------- 13. Mob Menu ---------*/
#mobile-menu {
  display: none;
  width: 100%;
  text-align: left;
  float: left;
}
#mobile-menu .toggle {
  float: left;
  width: 30px;
  height: 35px;
  cursor: pointer;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  text-align: left;
  margin-left: 1px;
  padding: 0;
  margin: 0;
}
#mobile-menu .toggle:before {
  content: "\f0c9";
  font-family: FontAwesome;
  font-size: 24px;
  color: #fff;
  margin: 10px 0;
  line-height: 44px;
}
#mobile-menu ul {
  margin: auto;
  padding: 0px;
  list-style: none;
}
#mobile-menu ul.navmenu ul.submenu {
  padding: 0;
  background: #fff;
  width: 100%;
  border: 1px solid #ddd;
  border-top: none;
}
#mobile-menu ul.navmenu .menutop {
  display: inline-block;
  overflow: hidden;
}
#mobile-menu ul.navmenu .menutop h2 {
  float: left;
  margin: 0;
  font-weight: normal;
  color: #fff;
  padding: 14px 0 12px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
ul.topnav {
  padding: 0 5px;
  margin: 0;
  font-size: 1em;
  line-height: 0.5em;
  list-style: none;
}
ul.topnav li {
  border-bottom: 1px solid #ddd;
  float: none;
  margin: 0 15px;
  position: relative;
}
ul.topnav li.last {
  position: relative;
  float: none;
  border-bottom: none;
}
ul.topnav li a {
  line-height: 10px;
  font-size: 13px;
  padding: 15px 0px;
  font-weight: normal;
  color: #333;
  display: block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
ul.topnav li a:hover {
  color: #000;
}
ul.topnav li .active a {
  background-color: #999;
  color: #000;
}
ul.topnav ul {
  margin: 0;
  padding: 0;
  display: none;
}
ul.topnav ul li {
  margin: 0;
  padding: 0;
  clear: both;
}
ul.topnav ul li a {
  padding-left: 10px;
  font-size: 13px;
  font-weight: normal;
  outline: 0;
  color: #666;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: normal;
}
ul.topnav ul ul li a {
  padding-left: 20px;
}
ul.topnav em {
  color: #666;
  cursor: pointer;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  padding: 6px 0 6px 6px;
  position: absolute;
  right: 0px;
  top: 10px;
  width: 16px;
  height: 25px;
}
ul.topnav em:hover {
  color: #000;
}
.nav-container {
  height: 40px;
}
