/*----------12. To top ------- */
#toTop {
  color: #fff;
  text-align: center;
  bottom: 60px;
  display: none;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  text-decoration: none;
  width: 50px;
  background: url(../images/to-top-arrow.png) no-repeat center;
  background-color: #000;
  text-transform: uppercase;
  z-index: 100;
}
#toTop:hover {
  color: #fff;
  background-color: #37a4d9;
}
