.block {
  margin: 0 0 35px;
}
.block .block-title {
  color: #37a4d9;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 8px 10px;
  font-weight: bold;
  text-transform: none;
  text-transform: uppercase;
  border-top: #ddd double;
  border-bottom: #ddd double
}
.block .block-title:before {
  content: "\f138";
  font-family: FontAwesome;
  font-size: 16px;
  display: inline-block;
  margin-right: 8px
}
.block .block-content {
  border-top: medium none;
  font-size: 12px;
  margin-left:10px;
  overflow: hidden;
  padding: 15px 0 0;
}
.block .block-title strong {
  font-weight: bold;
}
.block .block-title a {
  text-decoration: none;
}
.block .block-content .item {
  padding: 5px 0;
}
.block .btn-remove, .block .btn-edit {
  float: right;
  margin-top: 6px
}
.sidebar .block .access .btn-remove {
  float: right;
  margin-top: -38px
}
.block .actions {
  text-align: left;
  padding: 8px 0;
}
.block .actions a {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.block .empty {
  color: #666666;
}
.block li.odd {
}
.block li.even {
}
.side-nav-categories {
  background: #f5f5f5;
  margin-bottom: 35px;
}
.side-nav-categories .block-title {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 8px 10px;
  font-weight: bold;
  text-transform: uppercase;
  background: #fdd922;
}
.side-nav-categories .block-title:before {
  content: '\f0c9';
  font-family: FontAwesome;
  font-size: 14px;
  margin-right: 3px
}
  /*  Category boxes */
.box-content.box-category li ul {
    display: block;
}
.box-category {
  padding: 8px 15px 0px;
}
.box-category ul {
  list-style: none;
  margin: 0;
  padding: 0px 15px;
}
.box-category > ul > li {
  display: block;
  position: relative;
  box-shadow: 0 1px 0 #ddd, 0 2px 0 #FFFFFF;
  margin: 0;
}
.box-category > ul > li.last {
  display: block;
  position: relative;
  box-shadow: 0 0px 0 #dbebf9, 0 0px 0 #FFFFFF;
}
.box-category > ul > li:first-child {
  border-top: 0;
}
.box-category .subDropdown {
  top: 8px;
  right: 0px;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 2px;
}
.box-category .subDropdown:hover {
  opacity: 0.9;
}
.box-category .subDropdown.plus {
  background-image: url("../images/plus.png");
}
.box-category .subDropdown.minus {
  background-image: url("../images/minus.png");
}
.box-category ul li a {
  display: block;
  font-weight: normal;
  padding: 6px 0;
}
.box-category ul li.double a {
  display: inline-block;
  margin: 0;
}
.box-category ul li {
  position: relative;
}
.box-category > ul > li > a {
  color: #222;
  text-transform: none;
  display: block;
  font-size: 13px;
}
.box-category > ul > li ul {
  display: none;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}
.box-category > ul > li > ul li {
  padding: 0px;
}
.box-category > ul > li a.active {
  font-weight: normal;
}
.box-category > ul > li > a.active {
  color: #333333;
  font-weight: 900;
  margin-bottom: 0;
}
.box-category > ul > li a.active + ul {
  display: block;
}
.box-category a:hover {
  text-decoration: none;
  color: #000;
}
.box-category > ul > li ul li a {
}
.box-category > ul > li ul > li > a {
  border-bottom: 0 solid #EAEAEA;
  font-size: 12px;
  margin: 0;
  padding: 3px 16px 3px 12px;
  text-decoration: none;
  color: #666666;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.box-category > ul > li ul > li > a:before {
  content: '\f105';
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 6px;
  color: #444;
}
.box-category > ul > li ul > li ul > li a {
  text-decoration: none;
  font-size: 13px;
  margin: 4px 8px;
  padding: 0px 16px;
  border-bottom: 0px solid #EAEAEA;
}
.box-category > ul > li ul > li ul > li a:hover {
  color: #000;
}
.box-category > ul > li ul > li > a:hover {
  color: #000;
}
  /* Sidebar, Block */

  /*Left Navigation*/
.side-nav-categories ul li {
  padding: 2px 0px;
}
.side-nav-categories ul li a {
  display: inline-block;
  position: relative;
}
.side-nav-categories ul#magicat ul li a:before {
  content: "\f105";
  font-family: 'FontAwesome';
  line-height: 17px;
  margin-right: 5px;
  top: 6px;
}
.side-nav-categories ul#magicat ul li a {
  color: #666;
}
.side-nav-categories ul#magicat ul li a {
  padding-left: 12px;
}
.side-nav-categories, .side-nav-categories .block {
  display: inline-block;
  width: 100%;
}

.box-content.box-category li ul { display: none;}
.box-content.box-category li ul ul.level1{ display: none;}
.side-nav-categories ul li.active ul{ display:block;}


ul#magicat li, ul.listStyle li {
  cursor: pointer;
  display: block;
  float: left;
  list-style-type: none;
  margin: 0 0 1px 0;
  padding-left: 0px;
  position: relative;
  width: 100% !important;
}
ul#magicat li.level0 span.magicat-cat, ul.listStyle li span {
  text-align: left;
  display: inline-block;
  padding: 5px 0;
  width: 100%;
}
ul#magicat li .open-close, .block-layered-nav dt .toggleBtn {
  display: inline-block;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}
.block-layered-nav dt .toggleBtn {
  cursor: pointer;
}
ul#magicat li.active > .open-close, .block-layered-nav dt .toggleBtn.highlight {
  background-position: 2px -28px;
}
ul#magicat li .open-close, .block-layered-nav dt .toggleBtn {
  display: inline-block;
  height: 30px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 30px;
}
ul#magicat li .open-close, .block-layered-nav dt .toggleBtn {
  background: url("../images/leftNav.png") no-repeat scroll 2px 3px;
}
.sidebar-left {
  margin-left: 0;
}
.bv3 .sidebar-right, .bv3 .sidebar-left {
  padding-left: 15px;
}
.sidebar ol, .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .block-content li {
  padding: 3px 5px 3px 10px;
}
.sidebar .block-venedor-ads .block-content li {
  padding: 0;
}
.sidebar .block dt {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}
.sidebar .block dd {
  border-bottom: 0 solid #CCCCCC;
  margin: 0;
  padding: 0 5px;
}
.sidebar address {
  margin: 0;
  padding: 0;
  color: #333;
  text-align: left;
  border-bottom: none;
  line-height: 21px;
}
.block .slider-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.block-layered-nav .block-subtitle {
  font-size: 13px;
}
.block-layered-nav dt {
  font-size: 16px;
}
.block-layered-nav .currently ol {
  margin: 0;
  padding: 10px 15px;
}
.block-layered-nav .currently span.value {
  font-weight: bold;
}
.block-layered-nav li {
  padding: 5px 0;
}
.block-layered-nav .label {
  margin-right: 5px;
}
.block-layered-nav .button-arrow {
  width: 25px;
  height: 25px;
  padding: 0;
  margin-top: -2px;
  position: absolute;
  right: 15px;
}
#narrow-by-list2 dd {
  display: block;
}
  /* Sidebar, Block, Data Table */
.sidebar {
  font-size: 14px;
}
.sidebar .block-layered-nav .price {
  font-size: 13px;
  font-weight: normal;
}
.block-layered-nav .block-subtitle, .block-layered-nav dt {
  color: #565656;
  font-weight: 900;
}
.block-layered-nav .currently ol {
  border: 1px solid #ececec;
  background-color: #f4f4f4;
  border-radius: 3px;
}
.sidebar a, .sidebar .block-layered-nav .price .sub {
  color: #222;
  font-size: 12px;
}
.sidebar .block-layered-nav .price {
  color: #666;
}
.sidebar .link-cart, .sidebar .link-reorder, .block .actions a {
  color: #CA0000;
  font-weight: bold;
  font-size: 12px;
}
.sidebar .link-compare, .sidebar .link-wishlist {
  color: #aaa;
  font-size: 12px;
}
.block-tags .actions a.view-all {
  text-transform: uppercase;
  color: #333;
  font-weight: 900;
}
.block-tags .actions a.view-all:hover {
  color: #37a4d9;
}
.sidebar .link-cart:hover, .sidebar .link-wishlist:hover, .sidebar .link-reorder:hover, .sidebar .link-compare:hover, .sidebar .link-cart:focus, .sidebar .link-wishlist:focus, .sidebar .link-reorder:focus, .sidebar .link-compare:focus, .block .actions a:hover, .block .actions a:focus {
  color: #333;
}
.sidebar .block dl {
  border-bottom: 0px solid #ccc;
  margin: 0;
}
.block .block-content .price {
  font-size: 12px;
  font-weight: bold;
  color: #ff0000;
}
  /* Block: Account */

.block-account .block-title {
  padding-left: 10px;
  background-color: #37a4d9;
  color: #fff;
  border: none;
}
.block-account {
  background-color: #f8f8f8;
}
.block-account .block-content {
  padding: 0 10px;
}
.block-account .block-content ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
.block-account .block-content li {
  padding: 10px 0px;
  border-top: 1px #fff solid;
  border-bottom: 1px #ddd solid;
}
.block-account .block-content li:first-child {
  border-top: none;
}
.block-account .block-content li:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 10px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  line-height: 16px;
  color: #333;
}
.sidebar .block-content li.last {
  border-bottom: none;
}
.block-account .block-content li a {
  cursor: pointer;
  padding: 0 12px;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.block-account .block-content li a:hover {
  cursor: pointer;
  padding: 0 12px;
  color: #000;
}
.sidebar .block-content li.current {
  font-weight: 900;
  color: #333;
}
  /* Block: Currency Switcher */
.block-currency {
}
.block-currency select {
  width: 100%;
  margin-right: 8px;
}
  /* Block: Layered Navigation */
.block-layered-nav {
  background-color: #FFFFFF;
}
.block-layered-nav dt {
  font-weight: bold;
  overflow: hidden;
  padding: 8px 0 5px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.block-layered-nav dd {
  margin: 0;
  padding: 0;
}
.block-layered-nav dd ol {
  position: relative;
}
.block-layered-nav dd ol li:before {
  content: '\f105';
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 6px;
  color: #444;
}
.block-layered-nav .currently {
}
.block-layered-nav .btn-remove {
  float: right;
}
.block-list .price {
  color: inherit;
  font-size: 12px;
}
  /* Block: Cart */
.block-cart {
  padding: 0px;
  overflow: hidden;
}
.block-cart .summary {
}
.block-cart .amount {
  margin-bottom: 5px
}
.block-cart .actions .paypal-logo {
  float: left;
  width: 100%;
  margin: 3px 0 0;
  text-align: right;
}
.block-cart .actions .paypal-logo .paypal-or {
  clear: both;
  display: block;
  padding: 0 55px 5px 0;
}
.block-cart .mini-products-list .product-details .product-name, .block-cart .mini-products-list .product-details .nobr small {
  word-wrap: break-word;
}
.block-cart .mini-products-list .product-details .nobr {
  white-space: normal;
}
.block-cart .summary {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
.block-cart .amount a {
}
.block-cart .subtotal {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 8px
}
.block-cart .block-content .summary .subtotal .label {
  background: none repeat scroll 0 0 transparent;
  border-radius: 0 0 0 0;
  box-shadow: none;
  font-weight: normal;
  padding: 2px 0;
  text-shadow: none;
  color: #333;
  font-size: 12px;
}
.block-cart .subtotal .price {
  font-size: 12px;
  font-weight: bold;
}
.ajax-checkout {
  border: 0 none;
  margin: 0;
  padding: 5px 0 5px;
  text-align: left;
  margin-bottom: 0px;
}
.ajax-checkout a {
  border: 0px #dc436b solid;
  background: #323C46;
  text-shadow: 0 1px 0 #333;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 11px;
  padding: 8px 12px;
  text-transform: uppercase;
}
.ajax-checkout a:hover {
  border: 0px #111 solid;
  background: #222;
  padding: 6px 10px;
  text-shadow: 0 1px 0 #000;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 11px;
  cursor: pointer;
}
.sidebar .block-cart .block-subtitle {
  border-bottom: 1px solid #eee;
  padding-bottom: 6px;
  margin: 8px 0 8px;
  font-weight: 900;
  font-size: 13px;
}
.col-left .block-cart .block-content ul li .product-details {
  float: right;
  width: 65%;
}
.col-left .block-cart ul li.item {
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 10px;
  padding-bottom: 12px;
}
.col-left .block-cart ul li.item.last {
  border-bottom: none;
  margin-bottom: 5px;
  padding-bottom: 0px;
}
.col-left .block-cart .block-content ul li a.product-image {
  display: inline;
}
.col-left .block-cart .block-content ul li a.product-image img {
  border: 1px solid #ECECEC;
}
.col-left .block-cart .block-content ul li .product-name {
  margin: 0 0 2px;
  font-size: 12px
}
.col-right .block-cart .block-content ul li .product-details {
  float: right;
  width: 172px;
}
.col-right .block-cart ul li.item {
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 5px;
  padding-bottom: 8px;
}
.col-right .block-cart ul li.item.last {
  border-bottom: none;
  margin-bottom: 5px;
  padding-bottom: 0px;
}
.col-right .block-cart .block-content ul li a.product-image {
  display: inline;
}
.col-right .block-cart .block-content ul li a.product-image img {
  border: 1px #ddd solid;
}
.col-right .block-cart .block-content ul li .product-name {
  margin: 0 0 2px;
  font-size: 12px;
}
.price, .breadcrumbs li strong, .product-details span.price, #recently-viewed-items .price-box .special-price .price, #recently-viewed-items .price-box .regular-price .price, .availability.out-of-stock span {
  color: #333;
}
.btn-remove1 {
  background-image: url(../images/btn_remove.png);
  margin: 0px 0 0 18px;
}
.btn-remove1:hover, .btn-remove1:focus {
  background-position: 0 -12px;
}
.btn-remove1 {
  display: block;
  width: 15px;
  height: 13px;
  font-size: 0;
  line-height: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  right: -3px;
  top: 0;
  border-radius: 2px
}
.block .btn-remove1 {
  float: right;
  margin-top: 6px;
}
.sidebar .block .access .btn-remove1 {
  position: relative;
  right: 0;
  top: 0px;
}
.sidebar a:hover {
  text-decoration: none;
  color: #000;
}
  /* Block: Wishlist */

.block-wishlist {
}
  /* Block: Related */

.related-slider {
  float: left;
  margin: auto;
  width: 100%;
  margin-bottom: 15px;
}
.related-slider h2 {
  color: #333;
  font-size: 20px;
  margin: 0px 0 20px;
  text-align: left;
  text-shadow: 0 1px 0 #fff;
}
.block-related {
}
.block-related .block-content {
  padding: 0px 0 10px 0;
  border: 1px solid #ECECEC;
  border-top: none;
  overflow: hidden;
}
.block-related ul {
  margin: 0;
  padding: 0;
}
.block-related li {
  padding: 5px 0;
}
.block-related input.checkbox {
  position: absolute;
  left: 85px;
  top: 12px;
  z-index: 10;
}
.block-related .product {
  margin-left: 20px;
}
.block-related .product .product-image {
  float: left;
  margin-right: -65px;
}
.block-related .product .product-details {
  margin-left: 65px;
}
.block-related .mini-products-list .product-details {
  margin-left: 125px;
  text-align: left;
}
.block-related .mini-products-list .product-details .product-name {
  text-align: left;
}
.block-related .mini-products-list .product-image {
  width: 100px;
  margin: 0;
  padding: 0 10px;
}
.block-related .block-subtitle {
  padding: 10px 10px 0 10px;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}
.block-related .price-box .old-price .price {
  display: inline;
  font-size: 15px;
}
.block-related a.link-cart {
  text-transform: uppercase;
  font-size: 12px;
  color: #23AEAC;
  font-weight: bold;
}
.block-related a.link-cart:hover {
  text-transform: uppercase;
  font-size: 12px;
  color: #CA0000;
  font-weight: bold;
}
  /* Block: Compare Products */
.block-compare {
  background-color: #fff;
  padding: 0px;
}
.block-compare li {
  padding: 5px 0;
}
.block-compare .block-content ol, .block-compare .block-content ul {
  margin: 0;
}
ol#compare-items li a.product-name {
  font-size: 12px;
  padding: 0 5px;
  margin: 0;
  font-weight: normal;
  color: #333;
  line-height: 20px;
  text-transform: none;
  display: inline-block;
  width: 90%;
}
ol#compare-items li a.product-name span {
  margin-right: 3px;
  font-size: 20px;
  font-weight: 400;
  color: #777;
  line-height: 15px;
  margin-bottom: 6px;
}
ol#compare-items li a.product-name:hover {
  font-size: 12px;
  color: #000;
}
ol#compare-items li {
  margin: 0;
  padding: 0 0 10px;
  position: relative;
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 10px;
  background: none;
}
ol#compare-items li:before {
  content: '\f105';
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 6px;
  color: #444;
  display: inline-block;
  vertical-align: top;
}
ol#compare-items li.last {
  border-bottom: none;
  margin-bottom: 0;
}
  /* Block: Recently Viewed */
.block-viewed .block-content {
  background-color: #fff;
  padding: 5px 12px 0px;
}
.block-viewed li {
  padding: 3px 0px;
  list-style: none;
}
.block-viewed li.last {
  padding: 0px;
  border-bottom: 0px #eaeaea solid;
  list-style: none;
}
.block-viewed .block-content li a {
  padding: 0 15px;
  color: #666;
}
.block-viewed .block-content li a:hover {
  font-size: 13px;
  color: #000;
}
.block-viewed li span {
  color: #777777;
  float: left;
  font-size: 20px;
  font-weight: normal;
  line-height: 15px;
  margin-bottom: 8px;
  margin-right: 3px;
}
.block-viewed li:before {
  content: '\f105';
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 6px;
  color: #444;
  vertical-align: top;
}
.block-compared li:before {
  content: '\f105';
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 6px;
  color: #444;
  vertical-align: top;
}
.sidebar ol, .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0
}
#recently-viewed-items .product-name {
  text-align: left;
  margin: 0;
  text-transform: none;
  width: 93%;
  display: inline-block
}
#recently-viewed-items .product-name a {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  padding: 0 0px;
}
#recently-viewed-items .product-name a:hover {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}
  /* Block: Recently Compared */
.block-compared .block-content {
  background-color: #fff;
  padding: 5px 12px 12px;
}
.block-compared li {
  padding: 3px 0px;
  list-style: none;
}
.block-compared li.last {
  padding: 0px;
  border-bottom: 0px #eaeaea solid;
  list-style: none;
}
.block-compared .block-content li a {
  padding: 0 15px;
  color: #666;
}
.block-compared .block-content li a:hover {
  font-size: 13px;
  color: #000;
}
.block-compared li span {
  color: #777777;
  float: left;
  font-size: 20px;
  font-weight: normal;
  line-height: 15px;
  margin-bottom: 8px;
  margin-right: 3px;
}
.block-compared li:before {
  content: '\f105';
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 6px;
  color: #444;
  vertical-align: top;
}
#recently-compared-items .product-name {
  text-align: left;
  margin: 0;
  text-transform: none;
  width: 225px;
  display: inline-block
}
#recently-compared-items .product-name a {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  padding: 0 0px;
}
#recently-compared-items .product-name a:hover {
  color: #000;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}
  /* Block: Poll */
.block-poll {
  background-color: #fff;
  padding: 0px;
}
.block-poll label {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #333;
  font-weight: normal;
}
.block-poll .block-subtitle {
  color: #222;
  font-weight: 900;
  font-size: 12px;
}
.block-poll input.radio {
  float: left;
  margin: -2px -18px 0 0;
}
.block-poll .label {
  display: block;
  margin-left: 18px;
  text-align: left;
  padding: 0.1em 0.3em 0.1em;
}
.sidebar .block-poll li {
  padding: 5px 0px;
  background: none;
}
.block-poll .actions {
  margin: 5px 0 0 0px;
  padding: 0;
}
.block-poll .answer {
  font-weight: bold;
}
.block-poll .votes {
  float: right;
  margin-left: 10px;
}
  /* Block: Tags */
.block-tags {
  background-color: #fff;
  padding: 0px;
}
.block-tags .block-content {
  overflow: hidden;
}
.block-tags ul, .block-tags li {
  display: inline;
  padding: 0;
  background: none;
  border: none;
}
.block-tags .actions {
  border: 0 none;
  margin-top: 10px;
  padding: 0px;
  text-align: left;
}
  /* Block: Subscribe */
.block-subscribe {
  padding: 0px;
}
.block-subscribe .input-text {
  width: 90%;
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  color: #AAAAAA;
  padding: 10px 7px;
  font-size: 13px;
}
.form-subscribe-header {
  font-size: 12px;
  margin-bottom: 5px;
  color: #222;
}
  /* Block: Recently Viewed */
.block-company {
  background-color: #f8f8f8;
}
.block-company .block-title {
  padding-left: 10px;
  background-color: #37a4d9;
  color: #fff;
  border: none;
}
.block-company .block-content {
  padding: 0 10px;
}
.block-company ol {
  margin: 5px 0;
}
.sidebar .block-company li {
  padding: 10px 0px !important;
  list-style: none;
  border-bottom: 1px #ddd solid;
  border-top: 1px #fff solid;
}
.block-company li:first-child {
  border-top: none
}
.block-company li a {
  padding: 0 5px;
  text-decoration: none;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.block-company li a:hover {
  padding: 0 5px;
  color: #000;
}
.block-company li:before {
  content: '\f105';
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 6px;
  color: #444;
  display: inline-block;
  vertical-align: top;
}
.block-company li.last {
  padding: 10px 0px;
  border-bottom: 0px #eaeaea solid;
  list-style: none;
}
.block-company li span {
  float: left;
  margin-right: 5px;
  font-size: 16px;
  color: #aaa;
  line-height: 16px;
}
.block-company li strong {
  color: #333;
  font-weight: 900;
  padding: 0 5px;
}
  /* Block: Reorder */
.block-reorder {
}
.block-reorder li {
  padding: 5px 0;
}
.block-reorder input.checkbox {
  float: left;
  margin: 3px -20px 0 0;
}
.block-reorder .product-name {
  margin-left: 20px;
}
  /* Block: Banner */
.block-banner {
  position: relative;
  overflow: hidden;
}
.block-banner .block-content {
  text-align: center;
}
.block-banner img {
  width: 100%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
.block-banner img:hover {
  -webkit-transform: scale(1.11);
  transform: scale(1.11);
  -moz-transform: scale(1.11);
}
  /* Block: Price */
.block-price {
  background-color: #fff;
  padding: 0px;
}
.block-price .block-content {
  margin: 15px 0
}

  /* All Buttons Icons */

.returns:before {
  content: "\f021";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
.button-subscribe:before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-size: 13px;
  padding-right: 5px;
}
.button-checkout:before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  padding-right: 5px;
}
.button-compare {
  float: left;
  margin-right: 8px;
}
.button-compare:before {
  content: "\f074";
  font-family: FontAwesome;
  font-size: 13px;
  padding-right: 5px;
}
.button-clear:before {
  content: "\f12d";
  font-family: FontAwesome;
  font-size: 13px;
  padding-right: 5px;
}
.button-vote:before {
  content: "\f164";
  font-family: FontAwesome;
  font-size: 13px;
  padding-right: 5px;
}
.btn-remove {
  display: block;
  width: 12px;
  height: 12px;
  font-size: 0;
  line-height: 0;
  text-indent: -999em;
}
.btn-edit {
  display: block;
  width: 11px;
  height: 11px;
  font-size: 0;
  line-height: 0;
  text-indent: -999em;
  color: #666;
}
.btn-edit:before {
  content: "\f040";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 5px;
}
.btn-edit:hover {
  color: #37a4d9;
}
button.button.continue:before {
  content: "\f061";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button.btn-share:before {
  content: "\f004";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button.btn-add:before {
  content: "\f067";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button.btn-update:before {
  content: "\f021";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button.login:before {
  content: '\f13e';
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button.btn-continue:before {
  content: "\f061";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button#empty_cart_button:before {
  content: "\f00d";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button.coupon:before {
  content: "\f02b";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button.get-quote:before {
  content: "\f15c";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button.new-address:before {
  content: "\f015";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button.create-account:before {
  content: "\f007";
  font-family: FontAwesome;
  font-size: 12px;
  padding-right: 8px;
}
button.button.submit:before {
  content: "\f04b";
  font-family: FontAwesome;
  font-size: 11px;
  padding-right: 8px;
}
button.button.view-all:before {
  content: "\f06e";
  font-family: FontAwesome;
  font-size: 13px;
  padding-right: 8px;
}
.edit-bnt:before {
  content: "\f040";
  font-family: FontAwesome;
  font-size: 12px;
}
.edit-bnt {
  padding: 0px;
  color: #222;
  transition: all 0.3s linear;
}
.edit-bnt:hover {
  font-size: 12px;
  padding: 0px;
  color: #37a4d9;
}
.edit-bnt span {
  display: none;
}
#shopping-cart-table .edit-bnt {
  float: left;
}
.button {
  font-family: 'Open Sans', sans-serif;
  border: 1px #ddd solid;
  background: #fff;
  padding: 7px 12px;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}
.button:hover {
  border: 1px solid #37a4d9;
  background: #37a4d9;
  padding: 7px 12px;
  color: #FFF;
}
button.button span {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}
/* Right column */

